In [147]:
import pandas as pd
import tensorflow as tf
import sklearn

In [149]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [151]:
base = pd.read_csv("autos.csv", encoding="latin1")

In [152]:
base

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [153]:
#dropando as informacoes que nao sao necessarias 
base = base.drop("dateCrawled", axis=1)
base = base.drop("dateCreated", axis=1)
base = base.drop("nrOfPictures", axis=1)
base = base.drop("postalCode", axis=1)
base = base.drop("lastSeen", axis=1)

In [154]:
base #sem os itens dropados

,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371524,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN
371527,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [155]:
base["name"].value_counts() #registros dos carros

name
Ford_Fiesta                                              657
BMW_318i                                                 627
Opel_Corsa                                               622
Volkswagen_Golf_1.4                                      603
BMW_316i                                                 523
                                                        ...
Audi_A4_Avant_Klima_Gruene_Plakette_TÜV_&AU_NEU_XENON      1
Renault_clio_in_gold_450VB_!!                              1
Fiat_Doblo_1.6_Multijet                                    1
Renault_Laguna_1                                           1
BMW_M135i_vollausgestattet_NP_52.720____Euro               1
Name: count, Length: 233531, dtype: int64

In [158]:
base = base.drop("name", axis = 1)

In [161]:
base["seller"].value_counts() #registros de venda

seller
privat        371525
gewerblich         3
Name: count, dtype: int64

In [165]:
base = base.drop("seller", axis = 1)

In [167]:
base["offerType"].value_counts() #registro de tipo

offerType
Angebot    371516
Gesuch         12
Name: count, dtype: int64

In [169]:
base = base.drop("offerType", axis = 1)

In [171]:
base #12 colunas apos apagar as 3 anteriores

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371524,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN
371527,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [173]:
base.loc[base["price"]<=10] #preco do veiculo menor ou gial a 10 euros(nao faz sentido)

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
7,0,test,limousine,1980,manuell,50,andere,40000,7,benzin,volkswagen,nein
40,0,test,NaN,1990,NaN,0,corsa,150000,1,benzin,opel,NaN
60,1,control,suv,1994,manuell,286,NaN,150000,11,NaN,sonstige_autos,NaN
91,1,control,limousine,1995,manuell,113,e_klasse,150000,4,diesel,mercedes_benz,nein
115,0,test,NaN,2017,manuell,0,golf,5000,12,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371356,0,control,NaN,2000,manuell,65,corsa,150000,0,NaN,opel,ja
371392,0,test,kleinwagen,2002,manuell,60,fiesta,150000,3,benzin,ford,NaN
371402,0,control,kleinwagen,1999,manuell,53,swift,150000,3,benzin,suzuki,NaN
371431,0,control,kleinwagen,1999,manuell,37,arosa,150000,7,benzin,seat,ja
371522,0,control,NaN,2005,manuell,0,colt,150000,7,benzin,mitsubishi,ja

In [175]:
base["price"].mean() #baixo

17295.14186548524

In [177]:
base = base[base["price"]>10]

In [179]:
base.shape #menos registro(2 mil aproximadamente) apos o filtro

(359410, 12)

In [181]:
base.loc[base["price"]<=350000] #preco do veiculo menor ou gial a 350000 euros(nao faz sentido, tem valores invalidos)

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371524,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN
371527,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [183]:
base = base.loc[base["price"]<350000] #mostra a quantidade depois do filtro feito em valores extremos
base

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371524,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN
371527,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [185]:
base.shape

(359291, 12)

In [187]:
base.loc[pd.isnull(base["vehicleType"])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
16,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN
22,2900,test,NaN,2018,manuell,90,meriva,150000,5,benzin,opel,nein
26,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein
31,899,control,NaN,2016,manuell,60,clio,150000,6,benzin,renault,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371504,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371519,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [189]:
base["vehicleType"].value_counts()

vehicleType
limousine     93614
kleinwagen    78014
kombi         65921
bus           29699
cabrio        22509
coupe         18386
suv           14477
andere         3125
Name: count, dtype: int64

In [191]:
base.loc[pd.isnull(base["gearbox"])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
15,450,test,kleinwagen,1910,NaN,0,ka,5000,0,benzin,ford,NaN
16,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN
32,245,test,limousine,1994,NaN,0,golf,150000,2,benzin,volkswagen,nein
37,1500,test,NaN,2016,NaN,0,kangoo,150000,1,diesel,renault,nein
70,1200,test,coupe,2001,NaN,0,astra,150000,0,NaN,opel,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371443,3300,control,kombi,2006,NaN,0,touran,150000,7,diesel,volkswagen,NaN
371460,3500,control,NaN,1995,NaN,0,polo,150000,0,NaN,volkswagen,NaN
371486,350,control,kleinwagen,1996,NaN,65,punto,150000,0,NaN,fiat,NaN
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [193]:
base["gearbox"].value_counts()

gearbox
manuell      266547
automatik     75508
Name: count, dtype: int64

In [195]:
base.loc[pd.isnull(base["model"])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
83,350,control,kleinwagen,1997,manuell,54,NaN,150000,3,NaN,fiat,ja
139,1450,control,limousine,1992,manuell,136,NaN,150000,0,NaN,audi,nein
156,6799,control,kleinwagen,2009,NaN,60,NaN,20000,5,benzin,volkswagen,nein
165,500,control,kleinwagen,1999,manuell,0,NaN,150000,0,benzin,renault,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371399,560,control,kleinwagen,2001,automatik,170,NaN,90000,0,benzin,fiat,ja
371476,9400,control,kombi,2007,manuell,200,NaN,150000,4,diesel,sonstige_autos,ja
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [197]:
base["model"].value_counts()

model
golf               28989
andere             25560
3er                19905
polo               12604
corsa              12149
                   ...
serie_2                8
rangerover             6
serie_3                3
serie_1                1
discovery_sport        1
Name: count, Length: 251, dtype: int64

In [199]:
base.loc[pd.isnull(base["fuelType"])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
9,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN
13,2500,control,kombi,2004,manuell,131,passat,150000,2,NaN,volkswagen,nein
26,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein
36,1600,control,andere,1991,manuell,75,kadett,70000,0,NaN,opel,NaN
41,7500,control,limousine,2002,automatik,306,e_klasse,150000,4,NaN,mercedes_benz,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371496,3850,test,cabrio,2006,manuell,108,2_reihe,125000,2,NaN,peugeot,nein
371504,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371519,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [201]:
base["fuelType"].value_counts()

fuelType
benzin     217582
diesel     106002
lpg          5222
cng           557
hybrid        271
andere        165
elektro       101
Name: count, dtype: int64

In [203]:
base.loc[pd.isnull(base["notRepairedDamage"])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
8,14500,control,bus,2014,manuell,125,c_max,30000,8,benzin,ford,NaN
9,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN
12,999,control,kombi,1995,manuell,115,passat,150000,11,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371507,5999,test,kombi,2005,manuell,140,a4,150000,4,diesel,audi,NaN
371514,999,control,cabrio,2000,manuell,95,megane,150000,4,benzin,renault,NaN
371515,1690,test,kombi,2004,manuell,55,fabia,150000,4,benzin,skoda,NaN
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN

In [205]:
base["notRepairedDamage"].value_counts()

notRepairedDamage
nein    259301
ja       34004
Name: count, dtype: int64

In [207]:
valores = {
    'vehicleType': 'limousine',
    'gearbox': 'manuell',
    'model': 'golf',
    'fuelType': 'benzin',
    'notRepairedDamage': 'nein'
}

In [209]:
base = base.fillna(value = valores)

In [211]:
base

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,limousine,1993,manuell,0,golf,150000,0,benzin,volkswagen,nein
1,18300,test,coupe,2011,manuell,190,golf,125000,5,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,nein
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2200,test,limousine,2005,manuell,0,golf,20000,1,benzin,sonstige_autos,nein
371524,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,nein
371527,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [213]:
base.isnull().sum()

price                  0
abtest                 0
vehicleType            0
yearOfRegistration     0
gearbox                0
powerPS                0
model                  0
kilometer              0
monthOfRegistration    0
fuelType               0
brand                  0
notRepairedDamage      0
dtype: int64

In [225]:
x = base.iloc[:,1:12].values
x

array([['test', 'limousine', 1993, ..., 'benzin', 'volkswagen', 'nein'],
       ['test', 'coupe', 2011, ..., 'diesel', 'audi', 'ja'],
       ['test', 'suv', 2004, ..., 'diesel', 'jeep', 'nein'],
       ...,
       ['test', 'bus', 1996, ..., 'diesel', 'volkswagen', 'nein'],
       ['test', 'kombi', 2002, ..., 'diesel', 'volkswagen', 'nein'],
       ['control', 'limousine', 2013, ..., 'benzin', 'bmw', 'nein']],
      dtype=object)

In [217]:
y = base.iloc[:,0].values
y

array([  480, 18300,  9800, ...,  9200,  3400, 28990])

In [219]:
base["brand"].value_counts()

brand
volkswagen        76755
bmw               38982
opel              38557
mercedes_benz     34498
audi              31884
ford              24761
renault           17367
peugeot           10777
fiat               9339
seat               6815
skoda              5572
mazda              5529
smart              5159
citroen            5038
nissan             4893
toyota             4616
hyundai            3585
mini               3354
sonstige_autos     3331
volvo              3229
mitsubishi         2956
honda              2726
kia                2494
suzuki             2274
alfa_romeo         2250
porsche            2154
chevrolet          1791
chrysler           1373
dacia               889
jeep                784
daihatsu            774
land_rover          759
subaru              746
jaguar              603
daewoo              530
saab                516
trabant             489
lancia              467
rover               462
lada                213
Name: count, dtype: int64

In [229]:
onehotencoder = ColumnTransformer(
    transformers=[
        ("OneHot", OneHotEncoder(), [0, 1, 3, 5, 8, 9, 10])  # Índices das colunas para OneHotEncoder
    ],
    remainder="passthrough"  # Mantém as colunas restantes inalteradas
)

In [231]:
base.columns

Index(['price', 'abtest', 'vehicleType', 'yearOfRegistration', 'gearbox',
       'powerPS', 'model', 'kilometer', 'monthOfRegistration', 'fuelType',
       'brand', 'notRepairedDamage'],
      dtype='object')

In [237]:
x = onehotencoder.fit_transform(x).toarray()
x

array([[0.00e+00, 1.00e+00, 0.00e+00, ..., 0.00e+00, 1.50e+05, 0.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.90e+02, 1.25e+05, 5.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.63e+02, 1.25e+05, 8.00e+00],
       ...,
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.02e+02, 1.50e+05, 3.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.00e+02, 1.50e+05, 6.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, ..., 3.20e+02, 5.00e+04, 8.00e+00]])

In [239]:
base.shape

(359291, 12)

In [243]:
x.shape

(359291, 316)

In [249]:
regressor = Sequential([
    tf.keras.layers.InputLayer(shape = (316,)),
    tf.keras.layers.Dense(units = 158,activation = "relu"),#camada oculta
    tf.keras.layers.Dense(units = 158,activation = "relu"),#camada oculta
    tf.keras.layers.Dense(units = 1,activation = "linear")#camada de saida
])

In [251]:
regressor.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 158)            │        50,086 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 158)            │        25,122 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │           159 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 75,367 (294.40 KB)

 Trainable params: 75,367 (294.40 KB)

 Non-trainable params: 0 (0.00 B)

In [255]:
#A
#real 12000
#orevisao 13000

#b
#real 11500
#previsao 10000

(abs(12000-13000) + abs(11500-10000)) /2 #a previsao pode ter isto de erro

1250.0

In [264]:
regressor.compile(loss="mean_absolute_error", optimizer = "Adam",metrics = ["mean_absolute_error"])

In [266]:
regressor.fit(x,y, batch_size = 300, epochs = 100)

Epoch 1/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2804.3496 - mean_absolute_error: 2804.3496
Epoch 2/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2764.0112 - mean_absolute_error: 2764.0112
Epoch 3/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2721.0493 - mean_absolute_error: 2721.0493
Epoch 4/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2711.3064 - mean_absolute_error: 2711.3064
Epoch 5/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2672.4695 - mean_absolute_error: 2672.4695
Epoch 6/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2642.7351 - mean_absolute_error: 2642.7354
Epoch 7/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2595.2925 - mean_absolute_error: 2595.2925
Epoch 8/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2551.8711 - mean_absolute_error: 2551.8711
Epoch 9/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2504.5410 - mean_absolute_error: 2504.5410
Epoch 10/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2482.0894 - mean_absolute_error: 2482.0894
Epoch 11/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2455.2263 - mean_absolute_error: 2455.2263
Epoch 12/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2451.3311 - mean_absolute_error: 2451.3308
Epoch 13/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2441.2576 - mean_absolute_error: 2441.2576
Epoch 14/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2408.4028 - mean_absolute_error: 2408.4028
Epoch 15/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2417.8191 - mean_absolute_error: 2417.8191
Epoch 16/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2378.1997 - mean_absolute_error: 2378.1997
Epoch 17/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2396.5381 - mean_absolute_error: 2396.5381
Epoch 18/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2387.9626 - mean_absolute_error: 2387.9626
Epoch 19/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2385.4089 - mean_absolute_error: 2385.4089
Epoch 20/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2388.7627 - mean_absolute_error: 2388.7627
Epoch 21/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2361.2078 - mean_absolute_error: 2361.2078
Epoch 22/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2361.7029 - mean_absolute_error: 2361.7029
Epoch 23/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2367.8477 - mean_absolute_error: 2367.8477
Epoch 24/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2358.1125 - mean_absolute_error: 2358.1125
Epoch 25/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2351.1292 - mean_absolute_error: 2351.1292
Epoch 26/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2360.1960 - mean_absolute_error: 2360.1960
Epoch 27/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2344.8503 - mean_absolute_error: 2344.8506
Epoch 28/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2323.7119 - mean_absolute_error: 2323.7119
Epoch 29/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2329.4468 - mean_absolute_error: 2329.4468
Epoch 30/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2336.2441 - mean_absolute_error: 2336.2441
Epoch 31/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2310.1428 - mean_absolute_error: 2310.1428
Epoch 32/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2352.5208 - mean_absolute_error: 2352.5208
Epoch 33/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2339.8860 - mean_absolute_error: 2339.8860
Epoch 34/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2329.8772 - mean_absolute_error: 2329.8772
Epoch 35/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2339.3645 - mean_absolute_error: 2339.3645
Epoch 36/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2300.0225 - mean_absolute_error: 2300.0225
Epoch 37/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2338.7009 - mean_absolute_error: 2338.7009
Epoch 38/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2307.2305 - mean_absolute_error: 2307.2305
Epoch 39/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2324.6252 - mean_absolute_error: 2324.6252
Epoch 40/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2307.4727 - mean_absolute_error: 2307.4727
Epoch 41/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2312.5300 - mean_absolute_error: 2312.5300
Epoch 42/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2296.4839 - mean_absolute_error: 2296.4839
Epoch 43/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2301.8923 - mean_absolute_error: 2301.8926
Epoch 44/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2297.2358 - mean_absolute_error: 2297.2358
Epoch 45/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2311.3630 - mean_absolute_error: 2311.3630
Epoch 46/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2314.0354 - mean_absolute_error: 2314.0354
Epoch 47/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2285.2871 - mean_absolute_error: 2285.2871
Epoch 48/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2298.1362 - mean_absolute_error: 2298.1362
Epoch 49/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2307.3145 - mean_absolute_error: 2307.3145
Epoch 50/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2290.2756 - mean_absolute_error: 2290.2756
Epoch 51/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2299.1248 - mean_absolute_error: 2299.1248
Epoch 52/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2299.0530 - mean_absolute_error: 2299.0527
Epoch 53/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2298.8132 - mean_absolute_error: 2298.8132
Epoch 54/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2291.5669 - mean_absolute_error: 2291.5669
Epoch 55/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2287.1738 - mean_absolute_error: 2287.1738
Epoch 56/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2278.1135 - mean_absolute_error: 2278.1135
Epoch 57/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2280.7571 - mean_absolute_error: 2280.7571
Epoch 58/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2276.3589 - mean_absolute_error: 2276.3589
Epoch 59/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2287.0151 - mean_absolute_error: 2287.0151
Epoch 60/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2287.1948 - mean_absolute_error: 2287.1948
Epoch 61/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2257.2480 - mean_absolute_error: 2257.2480
Epoch 62/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2266.9109 - mean_absolute_error: 2266.9109
Epoch 63/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2285.5535 - mean_absolute_error: 2285.5535
Epoch 64/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2274.4087 - mean_absolute_error: 2274.4087
Epoch 65/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2271.4185 - mean_absolute_error: 2271.4185
Epoch 66/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2280.6667 - mean_absolute_error: 2280.6667
Epoch 67/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2272.7468 - mean_absolute_error: 2272.7468
Epoch 68/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2263.0493 - mean_absolute_error: 2263.0493
Epoch 69/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2256.5151 - mean_absolute_error: 2256.5151
Epoch 70/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2247.3518 - mean_absolute_error: 2247.3518
Epoch 71/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2255.3997 - mean_absolute_error: 2255.3997
Epoch 72/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2269.5938 - mean_absolute_error: 2269.5938
Epoch 73/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2254.9089 - mean_absolute_error: 2254.9089
Epoch 74/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2262.2573 - mean_absolute_error: 2262.2573
Epoch 75/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2259.0476 - mean_absolute_error: 2259.0476
Epoch 76/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2240.8633 - mean_absolute_error: 2240.8633
Epoch 77/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2263.2720 - mean_absolute_error: 2263.2720
Epoch 78/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2256.1919 - mean_absolute_error: 2256.1917
Epoch 79/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2250.2502 - mean_absolute_error: 2250.2502
Epoch 80/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2237.0566 - mean_absolute_error: 2237.0569
Epoch 81/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2263.0220 - mean_absolute_error: 2263.0220
Epoch 82/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2257.1931 - mean_absolute_error: 2257.1931
Epoch 83/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2253.2625 - mean_absolute_error: 2253.2625
Epoch 84/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2246.7434 - mean_absolute_error: 2246.7434
Epoch 85/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2249.3752 - mean_absolute_error: 2249.3752
Epoch 86/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2250.1682 - mean_absolute_error: 2250.1682
Epoch 87/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2230.6587 - mean_absolute_error: 2230.6587
Epoch 88/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2250.2183 - mean_absolute_error: 2250.2183
Epoch 89/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - loss: 2261.0671 - mean_absolute_error: 2261.0671
Epoch 90/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2252.6003 - mean_absolute_error: 2252.6003
Epoch 91/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2236.5662 - mean_absolute_error: 2236.5662
Epoch 92/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2240.2615 - mean_absolute_error: 2240.2615
Epoch 93/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - loss: 2248.9233 - mean_absolute_error: 2248.9233
Epoch 94/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2240.1553 - mean_absolute_error: 2240.1553
Epoch 95/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2235.1052 - mean_absolute_error: 2235.1052
Epoch 96/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2247.3772 - mean_absolute_error: 2247.3772
Epoch 97/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2241.1956 - mean_absolute_error: 2241.1956
Epoch 98/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2243.4712 - mean_absolute_error: 2243.4712
Epoch 99/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2246.1506 - mean_absolute_error: 2246.1504
Epoch 100/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2247.4216 - mean_absolute_error: 2247.4216

In [267]:
x.shape

(359291, 316)

In [268]:
previsoes = regressor.predict(x)

11228/11228 ━━━━━━━━━━━━━━━━━━━━ 4s 322us/step

In [269]:
previsoes

array([[ 1267.0884],
       [10535.974 ],
       [13049.001 ],
       ...,
       [ 6732.3315],
       [ 3587.5044],
       [26615.168 ]], dtype=float32)

In [270]:
y

array([  480, 18300,  9800, ...,  9200,  3400, 28990])

In [271]:
y.mean()

5916.833945186492

In [272]:
previsoes.mean()

5685.782